.spacer {
    flex: 1 1 auto;
  }

  .green-background {
    background-color: #e0dfdf;
  }
  .menu-separator {
    margin: 0 4px; 
  }
  .menu-link {
    color: #727272; 
    text-decoration: none;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
  }

  .menu-separator{
    width: 1px; 
    height: 20px;
    background-color: #727272; 
    margin: 0 10px; 
    display: inline-block; 
  }


  .logo {
    height: 40px; 
  }
  
  
  .social-link {
    color: #727272;
    text-decoration: none;
  }
  
  .social-link:hover {
    color: #727272; 
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    height: 50px;
  }
  